<h1>Fran & Sam's Wedding RSVP</h1>
<p>Welcome, you have been invited to Fran & Sams's Wedding. Please take the to let us know if you are planning on celebrating with us!</p>
<a class="button" href="/guests/new">RSUP</a>
