<h1 class="home">Fran <span>&</span> Sam's Wedding</h1>
<%=image_tag( 'banner.jpg', class: 'banner') %>
<p>Welcome, you have been invited to Fran & Sams's Wedding. Please take the time to let us know if you are planning on celebrating with us!</p>
<a class="button large home" href="/guests/new">RSVP</a>
