body {
  background-image:url(bg.jpg);
  font-size:16px;
}

.row {
  background-color:white;
  padding:50px 0;
}

h1 { 
  color: #0177bf;
  span {
    color: #ffcf06;
  }
  &.home {
    text-align:center;
  }
}

img.banner {
  margin:20px 0;
}


a {
  background-color:transparent;
}

a.button {
  background-color: #0177bf;
  border:1px solid #01578c;
  color:white;
  &:visited {
    color:white;
  }
  &:hover {
    background-color:#01578c;
  }
  &.home {
    display:block;
    margin:0 20%;
  }
}
